.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px;
}
.logo{
    width: 130px;
}
.nav-container>ul{
   display: flex;
   margin-top: 30px;
}
.nav-container>ul>li{
    padding: 15px;
    list-style: none;
 }
 .body{
    margin: 10px;
 }

 .res-card{
    width: 270px;
    padding: 5px;
    margin-right: 15px;
    margin-top: 15px;
 }

 .res-card:hover{
    border: 1px solid black;
 }

 .res-image{
    width: 100%;
    height: 50%;
 }

 .res-container{
    display: flex;
    flex-wrap: wrap;
 }